<head>
<meta charset="utf-8">

<meta property="og:title" content="WanDee, à¸­à¸²à¸«à¸²à¸£ ,à¸à¹à¸­à¸à¹à¸à¸µà¹à¸¢à¸§ ,à¸­à¸µà¹à¸§à¹à¸ , à¸à¸´à¸§à¸à¸µà¹ ,à¹à¸à¸£à¹à¸¡à¸à¸±à¹à¸,à¹à¸à¸¡à¸´à¸¥à¸µà¹ ">
<meta property="og:description" content="WanDee, à¸­à¸²à¸«à¸²à¸£ ,à¸à¹à¸­à¸à¹à¸à¸µà¹à¸¢à¸§ ,à¸­à¸µà¹à¸§à¹à¸ , à¸à¸´à¸§à¸à¸µà¹ ,à¹à¸à¸£à¹à¸¡à¸à¸±à¹à¸,à¹à¸à¸¡à¸´à¸¥à¸µà¹ ">
<meta name="keywords" content="WanDee, à¸­à¸²à¸«à¸²à¸£ ,à¸à¹à¸­à¸à¹à¸à¸µà¹à¸¢à¸§ ,à¸­à¸µà¹à¸§à¹à¸ , à¸à¸´à¸§à¸à¸µà¹ ,à¹à¸à¸£à¹à¸¡à¸à¸±à¹à¸,à¹à¸à¸¡à¸´à¸¥à¸µà¹ ">
<meta name="description" content="WanDee, à¸­à¸²à¸«à¸²à¸£ ,à¸à¹à¸­à¸à¹à¸à¸µà¹à¸¢à¸§ ,à¸­à¸µà¹à¸§à¹à¸ , à¸à¸´à¸§à¸à¸µà¹ ,à¹à¸à¸£à¹à¸¡à¸à¸±à¹à¸,à¹à¸à¸¡à¸´à¸¥à¸µà¹ ">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<link href="di/favicon.png" rel="shortcut icon" type="image/x-icon" />
<title>WanDee : à¸­à¸²à¸«à¸²à¸£ ,à¸à¹à¸­à¸à¹à¸à¸µà¹à¸¢à¸§ ,à¸­à¸µà¹à¸§à¹à¸ , à¸à¸´à¸§à¸à¸µà¹ ,à¹à¸à¸£à¹à¸¡à¸à¸±à¹à¸,à¹à¸à¸¡à¸´à¸¥à¸µà¹</title>
<!-- Custom styles for this template -->

<link href="fonts/fontface-v4.7.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=K2D|Prompt:200,400&subset=thai" rel="stylesheet">
<link href="cs/flexgrid.css" rel="stylesheet" type="text/css">
<link href="cs/flexslider.css" rel="stylesheet" type="text/css">
<link href="cs/jquery.bxslider.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet">
<link href="cs/themes.css" rel="stylesheet">


<link rel="contents" href="#toc" title="Table Of Contents" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>