
                	<ul>
                    	<li class="home"><h3><a href="index.php" title="à¸«à¸à¹à¸²à¹à¸£à¸"><i class="fa-home"></i> à¸«à¸à¹à¸²à¹à¸£à¸</a></h3></li>
                    	<li>
                        	<h3 class="AC3"><i class="icd-01"></i> à¸à¸±à¹à¸à¸à¸·à¹à¸­ à¹à¸à¸¥à¸µà¹à¸¢à¸à¸à¸·à¹à¸­ <span class="fa-angle-down"></span></h3>
                            <div class="pane">
                            <ul>
                            	<li><a href="detail.php" title="à¸à¸±à¹à¸à¸à¸·à¹à¸­à¹à¸à¹à¸à¹à¸à¸´à¸à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸à¸±à¹à¸à¸à¸·à¹à¸­à¹à¸à¹à¸à¹à¸à¸´à¸à¹à¸«à¸¡à¹</a></li>
                                <li><a href="detail.php" title="à¸à¸±à¹à¸à¸à¸·à¹à¸­à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸à¸±à¹à¸à¸à¸·à¹à¸­à¹à¸«à¸¡à¹</a></li>
                                <li><a href="detail.php" title="à¸à¸±à¹à¸à¸à¸²à¸¡à¸ªà¸à¸¸à¸¥à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸à¸±à¹à¸à¸à¸²à¸¡à¸ªà¸à¸¸à¸¥à¹à¸«à¸¡à¹</a></li>
                                <li><a href="detail.php" title="à¸à¸±à¹à¸à¸à¸·à¹à¸­-à¸à¸²à¸¡à¸ªà¸à¸¸à¸¥à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸à¸±à¹à¸à¸à¸·à¹à¸­-à¸à¸²à¸¡à¸ªà¸à¸¸à¸¥à¹à¸«à¸¡à¹</a></li>
                                <li><a href="detail.php" title="à¸à¸±à¹à¸à¸à¸·à¹à¸­à¸£à¹à¸²à¸-à¸à¸´à¸à¸à¸²à¸£à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸à¸±à¹à¸à¸à¸·à¹à¸­à¸£à¹à¸²à¸-à¸à¸´à¸à¸à¸²à¸£à¹à¸«à¸¡à¹</a></li>
                            </ul>
                            </div>
                        </li>
                        <li>
                        	<h3 class="AC3"><i class="icd-02"></i> à¸¤à¸à¸©à¹à¸¡à¸à¸à¸¥ <span class="fa-angle-down"></span></h3>
                            <div class="pane">
                            <ul>
                            	<li><a href="detail.php" title="à¸¤à¸à¸©à¹à¸à¸¥à¸­à¸à¸à¸¸à¸à¸£"><i class="fa-caret-right"></i> à¸¤à¸à¸©à¹à¸à¸¥à¸­à¸à¸à¸¸à¸à¸£</a></li>
                                <li><a href="detail.php" title="à¸¤à¸à¸©à¹à¸­à¸­à¸à¸£à¸"><i class="fa-caret-right"></i> à¸¤à¸à¸©à¹à¸­à¸­à¸à¸£à¸</a></li>
                                <li><a href="detail.php" title="à¸¤à¸à¸©à¹à¹à¸à¸´à¸à¸à¸´à¸à¸à¸²à¸£à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸¤à¸à¸©à¹à¹à¸à¸´à¸à¸à¸´à¸à¸à¸²à¸£à¹à¸«à¸¡à¹</a></li>
                                <li><a href="detail.php" title="à¸¤à¸à¸©à¹à¸à¸¶à¹à¸à¸à¹à¸²à¸à¹à¸«à¸¡à¹"><i class="fa-caret-right"></i> à¸¤à¸à¸©à¹à¸à¸¶à¹à¸à¸à¹à¸²à¸à¹à¸«à¸¡à¹</a></li>
                                <li><a href="detail.php" title="à¸¤à¸à¸©à¹à¹à¸à¹à¸à¸à¸²à¸"><i class="fa-caret-right"></i> à¸¤à¸à¸©à¹à¹à¸à¹à¸à¸à¸²à¸</a></li>
                            </ul>
                            </div>
                        </li>
                        <li>
                        	<h3 class="AC3"><i class="icd-03"></i> à¸à¸¹à¸à¸§à¸à¸à¸·à¹à¸à¸à¸²à¸à¸à¸±à¹à¸§à¹à¸ <span class="fa-angle-down"></span></h3>
                            <div class="pane">
                            <ul>
                            	<li><a href="detail.php" title="à¸à¸²à¸£à¸à¸²à¸"><i class="fa-caret-right"></i> à¸à¸²à¸£à¸à¸²à¸</a></li>
                                <li><a href="detail.php" title="à¸à¸²à¸£à¹à¸à¸´à¸"><i class="fa-caret-right"></i> à¸à¸²à¸£à¹à¸à¸´à¸</a></li>
                                <li><a href="detail.php" title="à¸à¸§à¸²à¸¡à¸£à¸±à¸"><i class="fa-caret-right"></i> à¸à¸§à¸²à¸¡à¸£à¸±à¸</a></li>
                                <li><a href="detail.php" title="à¸ªà¸¸à¸à¸ à¸²à¸"><i class="fa-caret-right"></i> à¸ªà¸¸à¸à¸ à¸²à¸</a></li>
                                <li><a href="detail.php" title="à¸à¸²à¸£à¹à¸£à¸µà¸¢à¸"><i class="fa-caret-right"></i> à¸à¸²à¸£à¹à¸£à¸µà¸¢à¸</a></li>
                            </ul>
                            </div>
                        </li>
                        <li>
                        	<h3 class="AC3"><i class="icd-04"></i> à¸§à¸´à¹à¸à¸£à¸²à¸°à¸«à¹à¸à¸§à¸à¸à¸²à¸à¸à¸±à¸§à¹à¸¥à¸ <span class="fa-angle-down"></span></h3>
                            <div class="pane">
                            <ul>
                            	<li><a href="detail.php" title="à¸§à¸´à¹à¸à¸£à¸²à¸°à¸«à¹à¹à¸à¸­à¸£à¹à¹à¸à¸£à¸¨à¸±à¸à¸à¹"><i class="fa-caret-right"></i> à¸§à¸´à¹à¸à¸£à¸²à¸°à¸«à¹à¹à¸à¸­à¸£à¹à¹à¸à¸£à¸¨à¸±à¸à¸à¹</a></li>
                                <li><a href="detail.php" title="à¸à¸°à¹à¸à¸µà¸¢à¸à¸£à¸"><i class="fa-caret-right"></i> à¸à¸°à¹à¸à¸µà¸¢à¸à¸£à¸</a></li>
                                <li><a href="detail.php" title="à¸à¸±à¸à¸£à¸à¸£à¸°à¸à¸²à¸à¸"><i class="fa-caret-right"></i> à¸à¸±à¸à¸£à¸à¸£à¸°à¸à¸²à¸à¸</a></li>

                            </ul>
                            </div>
                        </li>
                        <li>
                        	<h3 class="link"><a href="detail.php" title="à¹à¸à¸¥à¸µà¹à¸¢à¸à¸¥à¸²à¸¢à¹à¸à¹à¸à¸à¹"><i class="icd-05"></i> à¹à¸à¸¥à¸µà¹à¸¢à¸à¸¥à¸²à¸¢à¹à¸à¹à¸à¸à¹   <span class="fa-angle-right"></span></a></h3>
                        </li>
                         <li>
                        	<h3 class="link"><a href="detail.php" title="à¸®à¸§à¸à¸à¸¸à¹à¸¢"><i class="icd-06"></i> à¸®à¸§à¸à¸à¸¸à¹à¸¢ <span class="fa-angle-right"></span></a></h3>
                        </li>
                         <li>
                        	<h3 class="link"><a href="read-daily.php" onclick="javascript:window.location.href='detail-2.php';" target="_blank" title="à¸à¸¹à¸à¸§à¸à¸£à¸²à¸¢à¸§à¸±à¸à¹à¸à¸à¸²à¸°à¸à¸¸à¸"><i class="icd-07"></i> à¸à¸¹à¸à¸§à¸à¸£à¸²à¸¢à¸§à¸±à¸à¹à¸à¸à¸²à¸°à¸à¸¸à¸à¸ªà¹à¸à¸à¸¸à¸à¸§à¸±à¸ <span class="fa-angle-right"></span></a></h3>
                        </li>
                         <li>
                        	<h3 class="link"><a href="read-huay.php" onclick="javascript:window.location.href='detail-2.php';" target="_blank" title="à¸§à¸´à¹à¸à¸£à¸²à¸°à¸«à¹à¹à¸¥à¸à¹à¸à¹à¸à¸à¸¸à¸à¸à¸§à¸"><i class="icd-08"></i> à¸§à¸´à¹à¸à¸£à¸²à¸°à¸«à¹à¹à¸¥à¸à¹à¸à¹à¸à¸à¸¸à¸à¸à¸§à¸ <span class="fa-angle-right"></span></a></h3>
                        </li>
                         <li>
                        	<h3 class="AC3"><i class="icd-09"></i> à¸à¸¹à¸à¸§à¸à¸ªà¸à¸à¸²à¸à¹à¸à¸£à¸¨à¸±à¸à¸à¹ <span class="fa-angle-down"></span></h3>
                            <div class="pane">
                            <ul>
                            	<li><a href="detail.php" title="xxx"><i class="fa-caret-right"></i> à¸à¸¹à¸à¸§à¸à¸ªà¸à¸à¸²à¸à¹à¸à¸£à¸¨à¸±à¸à¸à¹ <small>(à¹à¸à¸à¸£à¸°à¹à¸à¸¨)</small></a></li>
                                <li><a href="detail.php" title="xxx"><i class="fa-caret-right"></i> à¸à¸¹à¸à¸§à¸à¸ªà¸à¸à¸²à¸à¹à¸à¸£à¸¨à¸±à¸à¸à¹ <small>(à¸£à¸­à¸à¸£à¸±à¸à¸¥à¸¹à¸à¸à¹à¸²à¸à¸²à¸à¸à¹à¸²à¸à¸à¸£à¸°à¹à¸à¸¨)</small></a></li>
                                <li><a href="detail.php" title="xxx"><i class="fa-caret-right"></i> à¸à¸¹à¸à¸§à¸à¸ªà¸à¸à¸²à¸à¹à¸à¸£à¸¨à¸±à¸à¸à¹à¸à¸±à¸à¸«à¸¡à¸­à¸à¸¹à¸à¸±à¸ <small>(à¸£à¸°à¸à¸à¹à¸ªà¸µà¸¢à¸à¸­à¸±à¸à¹à¸à¸¡à¸±à¸à¸´)</small></a></li>
                            </ul>
                            </div>
                        </li>
                         <li>
                        	<h3 class="link"><a href="detail.php" title="à¸à¸¹à¸à¸§à¸à¸£à¸²à¸¢à¸§à¸±à¸à¸à¸²à¸ SMS"><i class="icd-10"></i> à¸à¸¹à¸à¸§à¸à¸£à¸²à¸¢à¸§à¸±à¸à¸à¸²à¸ SMS <span class="fa-angle-right"></span></a></h3>
                        </li>
                        <li>
                        	<h3 class="link"><a href="https://www.facebook.com/pg/Horoworldfanpage/reviews/" target="_blank" title="à¸à¸§à¸²à¸¡à¸à¸´à¸à¹à¸«à¹à¸à¸à¸¹à¹à¹à¸à¹à¸à¸£à¸´à¸à¸²à¸£"><i class="fa-commenting"></i> à¸à¸§à¸²à¸¡à¸à¸´à¸à¹à¸«à¹à¸à¸à¸¹à¹à¹à¸à¹à¸à¸£à¸´à¸à¸²à¸£</a></h3>
                        </li>
                    </ul>
